.banner {
  background-color: $primary-white;
  height: 200px;
  background-image: url("/banner-about.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

@media screen and (max-width: 1280px) {
  .banner {
    background-size: cover;
  }
}
