.item {
  position: relative;
  transition: transform 400ms, z-index 400ms, object-position 400ms;
  img {
    display: block;
    transition: filter 0.3s ease-in-out;
  }

  p {
    color: $primary-white;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    width: 100%;
    background-color: rgba($primary-red, 0.9);
    margin: 0;
    padding: 12px;
    font-size: 14px;
    font-weight: normal;
    text-shadow: 0.2px 0 0 currentColor; /* Subtle weight */
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }

  &:hover {
    transform: scale(1.05);
    z-index: 10;
    p {
      opacity: 1;
    }

    img {
      filter: brightness(80%);
      animation-name: thumb-scroll;
      animation-delay: 500ms;
      animation-duration: 3s;
      animation-iteration-count: infinite;
      animation-direction: normal;
      animation-timing-function: linear;
      animation-fill-mode: forwards;
    }
  }
}
@keyframes thumb-scroll {
  15%,
  35% {
    object-position: 0% 0%;
  }
  65%,
  85% {
    object-position: 100% 100%;
  }
}


@media screen and (max-width: 768px) {
  .item {
    p {
      opacity: 1;
    }
  }
}