.navbar {
  height: 128px;
  background-color: $primary-red;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 8px;

  .brand {
    h1 {
      text-align: center;
      margin: 0;
      font-weight: normal;
    }
  }

  .navlinks {
    list-style: none;
    display: flex;
    gap: 32px;
    color: $primary-white;

    a {
        font-size: 20px;
        text-decoration: none;
        color: $primary-white;
        &.active, &:hover {
            text-decoration: underline;
            text-decoration-thickness: 1px;
            text-underline-offset: 4px;
        }
    }
  }
}
