.navbar {
  height: 128px;
  background-color: $primary-red;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 12px;
  padding: 24px 0;
  transition: $transition-base;

  .brand {
    display: flex;
    align-items: center;
    gap: 24px;
    h1 {
      text-align: center;
      margin: 0;
      font-weight: normal;
      a {
        text-decoration: none;
        color: $primary-white;
      }
    }
  }

  .navlinks {
    list-style: none;
    display: flex;
    gap: 32px;
    color: $primary-white;

    a {
        font-size: 20px;
        text-decoration: none;
        color: $primary-white;
        transition: $transition-base;
        position: relative;
        display: inline-block;

        &::after {
          content: "";
          position: absolute;
          bottom: -10px;
          left: -8px;
          right: -8px;
          height: 8px;
          background-image: url("data:image/svg+xml,%3Csvg width='120' height='8' viewBox='0 0 120 8' preserveAspectRatio='none' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3 5C30 4 60 6 90 5C110 4 115 5 118 4' stroke='white' stroke-width='3' vector-effect='non-scaling-stroke' stroke-linecap='round'/%3E%3C/svg%3E");
          background-size: 100% 100%;
          background-repeat: no-repeat;
          opacity: 0;
          transition: opacity 250ms ease;
        }

        &.active::after, &:hover::after {
            opacity: 1;
        }
    }
  }
}
