.footer {
    padding: 20px 0;
}
.socialLinks {
    display: flex;
    justify-content: center;
    gap: 12px;
    margin: 28px;
}
.socialItem {
    height: 48px;
    width: 48px;
    background-color: $primary-gray;
    padding: 8px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    &:hover {
        opacity: 0.8;
    }
    i {
        color: $primary-dark;
        font-size: 28px;
    }
}


.copyright {
    color: $primary-white;
    text-align: center;
    font-size: 14px;
}