@import "variables.scss";
@import "reset.scss";
@import "typography.scss";
@import "spacing.scss";

@import "~bootstrap-icons/font/bootstrap-icons.css";

* {
  box-sizing: border-box;
}

body {
  font-family: $font-family;
  background-color: $primary-dark;
}

.banner {
  background-color: $primary-white;
  height: 300px;
  background-image: url("/banner.png");
  background-repeat: no-repeat;
  background-position: center;
}
.banner-about {
  background-color: $primary-white;
  height: 200px;
  background-image: url("/banner.png");
  background-repeat: no-repeat;
  background-position: center;
}
.section-illustrations,
.section-hqs {
  position: relative;
}

.section-illustrations::before,
.section-hqs::before {
  content: "";
  display: block;
  position: absolute;
  background-image: url("/wave.svg");
  background-repeat: no-repeat;
  top: -20px;
  width: 100%;
  height: 100%;
}

.section-content {
  padding: 16px;
  max-width: 920px;
  margin: auto;
}

.section-gallery {
  position: relative;
  z-index: 999;
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  align-items: center;
  justify-content: center;
  img {
    object-fit: cover;
    border-radius: 4px;
    cursor: pointer;
  }
}

.lang-switch-wrapper {
  position: absolute;
  right: 16px;
  top: 16px;
}

hr {
  color: $primary-white;
  opacity: 0.05;
  border-width: 1px;
}

.illustration-container,
.hq-container {
  display: flex;
  .illustration-image,
  .hq-image {
    flex: 3;
    img {
      width: 100%;
      cursor: pointer;
    }
  }
  .illustration-detail,
  .hq-detail {
    flex: 1;
    color: $primary-white;
    display: flex;
    padding: 32px;
    justify-content: center;
  }

  a {
    text-decoration: none;
    color: $primary-white;
    &:hover {
      opacity: 0.75;
    }
  }
}

.time,
.small {
  font-size: 14px;
}

.about-section {
  color: $primary-white;
}

.about-content {
  width: 600px;
  margin: auto;
  h2 {
    margin: 0;
  }
}

.avatar {
  background-image: url("/me.jpg");
  width: 240px;
  height: 240px;
  background-position: center;
  background-size: cover;
  margin: auto;
  border-radius: 50%;
}

@media screen and (max-width: 768px) {
  .illustration-container,
  .hq-container {
    flex-direction: column-reverse;
  }

  .about-content {
    width: auto;
    padding: 16px;
  }
}
