@import "variables.scss";
@import "reset.scss";
@import "typography.scss";
@import "spacing.scss";
@import "scrollbar.scss";

@import "~bootstrap-icons/font/bootstrap-icons.css";

* {
  box-sizing: border-box;
}

body {
  font-family: $font-family;
  background-color: $primary-dark;
  overflow-x: hidden;
}

.container-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.lang-switch-wrapper {
  position: absolute;
  right: 16px;
  top: 16px;
  button {
    color: $primary-red !important;
  }
}

hr {
  color: $primary-white;
  opacity: 0.05;
  border-width: 1px;
}

.text-thicker {
  transform: scaleY(1.1);
}

.text-thinner {
  transform: scaleY(0.9);
}

.media-container {
  display: flex;
  .media-image {
    flex: 3;
    img {
      width: 100%;
      cursor: pointer;
    }
  }
  .media-detail {
    flex: 1;
    color: $primary-white;
    display: flex;
    padding: 32px;
    justify-content: center;
  }

  a {
    text-decoration: none;
    color: $primary-white;
    &:hover {
      opacity: 0.75;
    }
  }
}

.small {
  font-size: 14px;
}

.about-section {
  color: $primary-white;
}

.about-content {
  width: 600px;
  margin: auto;
  h2 {
    margin: 0;
  }
}

.avatar {
  background-image: url("/me.jpg");
  width: 240px;
  height: 240px;
  background-position: center;
  background-size: cover;
  margin: auto;
  border-radius: 50%;
}

@media screen and (max-width: 768px) {
  .media-container {
    flex-direction: column-reverse;
  }

  .about-content {
    width: auto;
    padding: 16px;
  }
}

.credits-column {
  display: flex;
  flex-flow: column nowrap;
  gap: 8px;
}

.opacity-8 {
  opacity: 0.8;
}